form {
    width: 90%;
    max-width: 40rem;
    margin: 3rem auto;
    padding: 2rem;
    background: #041c46 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24, 38, 111, 0.7);
}

.control,
fieldset {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.control.no-margin {
    margin-bottom: 0;
}

.control label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    color: #9bafaf;
    text-transform: uppercase;
    font-weight: bold;
}

.control input {
    display: block;
    width: 100%;
    max-width: 15rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #758a8a;
    background-color: #869999;
    color: #142020;
}

.control select {
    display: block;
    width: 100%;
    max-width: 15rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #758a8a;
    background-color: #869999;
    color: #142020;
}

.control:has(input[type="checkbox"]) {
    display: flex;
    align-items: center;
}

.control:has(input[type="checkbox"]) label {
    margin: 0;
}

.control input[type="checkbox"] {
    display: inline-block;
    width: auto;
    max-width: none;
    margin-right: 0.5rem;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #d9e2f1;
}

.control-error {
    color: #ffca99;
    font-size: 0.8rem;
    height: 2rem;
    padding: 0.5rem 0;
}

.control-error p {
    margin: 0;
}

.control-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

